:root {
  --purple-theme: #5e36b5;
  --dark-purple-theme: #180443;
  --white: #fff;
  --blue: #4a90e2;
  --green: #01ffb3;
  --dark: #080116;

  --small-header: 20px;
  --mini-header: 34px;
  --body-copy: 14px;
  --main-header: 64px;
}

.value {
  color: var(--blue);
  cursor: pointer;
}

*,
:after,
:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Verdana', sans-serif;
  background: var(--dark);
  color: var(--white) !important;
  position: relative;
  /* padding-top: 90px; */
}

.smallHeader {
  font-size: var(--small-header);
  line-height: 1.4;
}
.miniHeader {
  font-size: var(--mini-header);
  line-height: 1.4;
}
.bodyCopy {
  font-size: var(--body-copy);
  font-weight: lighter;
}
.mainHeader {
  font-size: var(--main-header);
  line-height: 1.4;
}
.bgDark {
  background: var(--dark-purple-theme);
  padding: 60px 50px;
}

.nav {
  height: 110px;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--dark);
  z-index: 100;
}
.nav .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.customBtn {
  padding: 15px 30px;
  background: transparent;
  border: 2px solid var(--green);
  color: var(--green);
  text-decoration: none;
}

#hero {
  display: grid;
  min-height: 100vh;
  place-items: center;
}
.marginHeader {
  margin: 30px 0;
}
.webAddress {
  display: flex;
  align-items: center;
}
.webAddress a {
  color: var(--blue);
  text-decoration: none;
  font-size: var(--body-copy);
  font-weight: bold;
}
.socialIcons {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
  padding-left: 0;
}
.divider {
  height: 1px;
  width: 100%;
  background-color: var(--white);
  opacity: 0.1;
}
.spacer {
  margin: 32.48px 0;
}

.timer {
  position: relative;
  width: 100%;
  height: 100px;
  text-align: center;
  background: var(--dark);
  color: var(--white);
  margin: 0 15px 0 0;
  font-size: var(--mini-header);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 34px;
  border: 2px solid var(--purple-theme);
}

.timer:before {
  content: '';
  position: absolute;
  bottom: -3%;
  left: 0;
  width: 100%;
  height: 35px;
  color: #fff;
  font-size: var(--body-copy);
  line-height: 35px;
  font-weight: 200;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.timer#day::before {
  content: 'Days';
}

.timer#hour::before {
  content: 'Hours';
}

.timer#minute::before {
  content: 'Minutes';
}

.timer#second::before {
  content: 'Seconds';
}

.inputGroup {
  position: relative;
}

input {
  background: var(--purple-theme) !important;
  border: none !important;
  padding: 20px 30px !important;
  margin-top: 10px;
}

.floatInput {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translate(-50%, -50%);
  background: var(--purple-theme) !important;
  color: var(--white) !important;
  border: none !important;
  padding: 10px;
}

select::-ms-expand {
  display: none;
}

select:focus {
  outline: 0 !important;
  border: 0 !important;
}

.formBtn {
  width: 100%;
  height: 60px;
  border-radius: 5px;
  border: none !important;
  background: var(--purple-theme);
  color: var(--white);
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  .bgDark {
    padding: 60px 30px;
  }

  .timer {
    font-size: var(--small-header);
  }
}
